In [1]:
import pandas as pd
import altair as alt

In [8]:
df = pd.read_csv("Presentase pengangguran diindonesia.csv")

In [11]:
df.head()

,tahun,Rata rata lama sekolah (Tahun),Presentase pengangguran (%),Presentase bekerja(%)
0,2013,7.61,6.025,93.975
1,2014,7.73,5.820,94.180
2,2015,7.84,5.995,94.005
3,2016,7.95,5.555,94.445
4,2017,8.10,5.415,94.585

In [91]:
new_df1 = df[['tahun','Rata rata lama sekolah (Tahun)']]
new_df1 = new_df1.rename(columns={'Rata rata lama sekolah (Tahun)': 'value'})
new_df1 = new_df1.assign(label = 'Rata rata lama sekolah (Tahun)')
# new_df['newCol'] = df.apply(lambda x: 10, axis=1)
new_df2 = df[['tahun','Presentase pengangguran (%)']]
new_df2 = new_df2.rename(columns={'Presentase pengangguran (%)': 'value'})
new_df2 = new_df2.assign(label = 'Presentase pengangguran (%)')

In [92]:
new_df = pd.concat([new_df1, new_df2])
new_df

   tahun  value                           label
0   2013  7.610  Rata rata lama sekolah (Tahun)
1   2014  7.730  Rata rata lama sekolah (Tahun)
2   2015  7.840  Rata rata lama sekolah (Tahun)
3   2016  7.950  Rata rata lama sekolah (Tahun)
4   2017  8.100  Rata rata lama sekolah (Tahun)
5   2018  8.170  Rata rata lama sekolah (Tahun)
6   2019  8.340  Rata rata lama sekolah (Tahun)
7   2020  8.480  Rata rata lama sekolah (Tahun)
8   2021  8.540  Rata rata lama sekolah (Tahun)
0   2013  6.025     Presentase pengangguran (%)
1   2014  5.820     Presentase pengangguran (%)
2   2015  5.995     Presentase pengangguran (%)
3   2016  5.555     Presentase pengangguran (%)
4   2017  5.415     Presentase pengangguran (%)
5   2018  5.200     Presentase pengangguran (%)
6   2019  5.105     Presentase pengangguran (%)
7   2020  6.005     Presentase pengangguran (%)
8   2021  6.375     Presentase pengangguran (%)

In [93]:
from datetime import datetime

In [94]:
# date = datetime(year=new_df['tahun'][0:4])
new_df['dates'] = pd.to_datetime(new_df['tahun'], format='%Y')
new_df

   tahun  value                           label      dates
0   2013  7.610  Rata rata lama sekolah (Tahun) 2013-01-01
1   2014  7.730  Rata rata lama sekolah (Tahun) 2014-01-01
2   2015  7.840  Rata rata lama sekolah (Tahun) 2015-01-01
3   2016  7.950  Rata rata lama sekolah (Tahun) 2016-01-01
4   2017  8.100  Rata rata lama sekolah (Tahun) 2017-01-01
5   2018  8.170  Rata rata lama sekolah (Tahun) 2018-01-01
6   2019  8.340  Rata rata lama sekolah (Tahun) 2019-01-01
7   2020  8.480  Rata rata lama sekolah (Tahun) 2020-01-01
8   2021  8.540  Rata rata lama sekolah (Tahun) 2021-01-01
0   2013  6.025     Presentase pengangguran (%) 2013-01-01
1   2014  5.820     Presentase pengangguran (%) 2014-01-01
2   2015  5.995     Presentase pengangguran (%) 2015-01-01
3   2016  5.555     Presentase pengangguran (%) 2016-01-01
4   2017  5.415     Presentase pengangguran (%) 2017-01-01
5   2018  5.200     Presentase pengangguran (%) 2018-01-01
6   2019  5.105     Presentase pengangguran (%) 2019-01-01
7   2020  6.005     Presentase pengangguran (%) 2020-01-01
8   2021  6.375     Presentase pengangguran (%) 2021-01-01

In [95]:
alt.Chart(new_df).mark_line(point = True).encode(
    x = alt.X("dates", title="Year"),
    y="value",
    color='label',
)

alt.Chart(...)

In [ ]:

alt.Chart(source).mark_line(point = True).encode(
    x = alt.X("date:O", timeUnit="yearmonth", title="date"),
    y="rank:O",
    color=alt.Color("symbol:N")
).transform_window(
    rank="rank()",
    sort=[alt.SortField("price", order="descending")],
    groupby=["date"]
).properties(
    title="Bump Chart for Stock Prices",
    width=600,
    height=150,
)

In [2]:
df2 = pd.read_csv("mean-years-of-schooling.csv")

In [ ]:
df2.